<div ng-controller='TasksController' ng-init='edit()'>
  <h1>Editing task</h1>

  <div class="panel panel-default">
    <form>
      <div class="panel-body">
        <div class="form-group">
          <label for="title">Email address</label>
          <input type="text" class="form-control" id="title" name="title" value="{{currentTask.title}}" ng-model="updateTask.task.title" placeholder="Enter title" />
        </div>

        <div class="form-group">
          <label for="description">Description</label><br>
          <textarea class="form-control" id="description" name="description" ng-model="updateTask.task.description" placeholder="Enter description">{{currentTask.description}}</textarea>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" id="done" name="done" ng-checked="{{currentTask.done}}" ng-model="updateTask.task.done" /> Done
          </label>
        </div>
      </div>
      
      <div class="panel-footer" style="text-align: right;">
        <input class="btn btn-primary" type="button" value="Save" ng-click="update(currentTask.id, updateTask)" />
      </div>
    </form>
  </div>

  <a href='' ng-click='goToShow(currentTask.id)'>Show</a> |
  <a href='' ng-click='goToIndex()'>Back to list</a>
</div>
